/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Shadows Into Light', cursive;

Associer les classes et IDs à la grid-area
*/
#titre {grid-area: titre;}
#consigne {grid-area: consigne;}
#jeu-contenant{grid-area: jeu-contenant;}
#mot{grid-area: mot;}
#boutons{grid-area: boutons;}
#consigne{grid-area: consigne;}

#grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr; /* Nombre et longueurs des colonnes */
    grid-template-rows: 0.5fr 1fr 1fr; /* Nombre et longueurs des lignes */
    grid-template-areas: /* Placement des divs dans le tableau */
            "titre titre"
            "consigne consigne"
        "jeu-contenant mot"
        "boutons boutons";
    text-align: center;
    align-items: center;
}

@media only screen and (max-height: 1000px) and (max-width: 800px) {
    #grid {
        display: grid;
        height: 50vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 1fr 1fr 1fr;
        grid-template-areas:
      "consigne consigne"
      "jeu-contenant"
      "mot"
      "boutons"
    }
    #titre{
        font-size: 23px;
    }
}


body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #203440;
    color: #fff;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    font-size: 40px;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 10px;
    text-shadow: 2px 2px 2px #D9D4D2;
}

/*style boutons*/
#boutons{
    padding: 20px;
    text-align: center;
}

#boutons button{
    width: 7.5vh;
    height: 7vh;
    margin: 2px;
    background-color: #eae2c7;
    border-color: #6a6253;
    font-size: 20px;
    color: #232020;
    cursor: pointer;
}

#boutons button:hover {
    width: 7.5vh;
    height: 7vh;
    margin: 2px;
    background-color: #fafafa;
    border-color: floralwhite;
    color: #203440;
}

/*style du bonhomme*/
.visuel-pendu{
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
    fill: transparent;
}

.figure-partie{
    display: none;
}


/*style popup*/
.popup-contenant{
    background-color: #203440;
    color: #e8e8e5;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup{
    background-color: #354b58;
    border-radius: 5px;
    box-shadow: 0 5px 5px 5px #c8c8c2;
    padding: 20px;
    text-align: center;
}

.popup button{
    cursor: pointer;
    background-color: #c8c8c2;
    border: 0;
    margin-top: 20px;
    padding: 10px 20px;
    color: #203440;
    font-size: 18px;
}

.popup button:active{
    transform: scale(0.98);
}

.popup button:focus{
    outline: 0;
}